//
//  TestKeys.xcconfig
//  Virtual Tourist
//
//  Created by Nyan Lin Tun on 09/06/2020.
//  Copyright © 2020 Nyan Lin Tun. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FLICKR_API_KEY = YOUR_FLICKR_API_KEY
FLICKR_API_SECRET = YOUR_FLICKR_API_SECRET
